/*css reset*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  margin: 0px auto;
}
.header{
  background: linear-gradient(0deg, rgba(195,74,34,1) 0%, rgba(192,57,43,1) 100%);
  background-color: #c0392b;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px){
  .header{
    flex-direction: column-reverse;
  }
}
  .header__title{
    color: azure;
    text-shadow: 1px 1px 1px #3030307a;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    padding: 17px;
    text-align: center;
  }
  @media(min-width: 600px){
    .header__title{
      text-align: left;
    }
  }
  .header__title--bgwhite{
    background-color: white;
    color: #c0392b;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    padding: 6px;
    text-align: center;
  }
  .menu{
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  @media(min-width: 600px) {
    .menu{
      flex-direction: row; 
    }
  }
  .menu__item>a{
    padding:20px;
    text-decoration: none;
    color: white;
    display: block;
  }
  .menu__item>a:hover{
    color: #c0392b;
    background-color: white;
  }
/* serie cover */
.series{
  display: flex;
  flex-wrap: wrap;
}
.serie{
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
  .serie__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding: 20px 0px 2.5px;

  }
  .serie__genre{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a9a4a9;
    display: block;
    padding: 2.5px 0px 20px;  
  }
  .serie__image{
    max-width: 328px;
    max-height: 437px;
    margin: 0 auto;
    border-radius: 5px;

  }
  .serie__readmore{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #c0392b;
    text-decoration: none;
    display: block;
    padding: 7px;
    margin: 10px auto;
    max-width: 308px;
    border-radius: 5px;
  }
  .serie__readmore-hover{
    background-color: #E74C3C; 
  }
/* footer */
.footer{
  background-color: #eeeeee;
  color: #c0392b;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
  .footer__element{
    margin: 20px;
    
  }
  .footer__image{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .footer__email{
    width: 278px; border: 1px #E74C3C solid;
    border-radius: 5px;
    width: 278px;
    height: 33px;
    text-indent: 10px;
  }
  
  .footer__btncadastrar{
    color: white;
    width: 50px;
    height: 33px;
    background-color: #E74C3C;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    margin-left: -10px;
    font-weight: bold;
    text-align: center;

    
  }
/*serie detail*/

  .seriedetail{
    text-align: center;
  }
  .seriedetail__title{
      font-family: 'Open Sans', sans-serif;
      font-size: 28px;
      padding: 20px 0px 2.5px;
  
    }
    .seriedetail__genre{
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #a9a4a9;
      display: block;
      padding: 2.5px 0px 20px;  
    }
    .seriedetail__image{
      max-width: 328px;
      max-height: 437px;
      margin: 0 auto;
      border-radius: 5px;
  
    }
    .seriedetail__texto{
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      line-height: 1.5;
      max-width: 328px;
      margin: 2px;
      text-align: left;
    }
    .seriedetail__watchtrailer{
      font-family: 'Roboto', sans-serif;
      color: #000000;
      background-color: #f1c40f;
      text-decoration: none;
      display: block;
      padding: 7px;
      margin: 10px auto;
      max-width: 308px;
      border-radius: 5px;
    }
    .seriedetail__watchtrailer:hover{
      background-color: #f1c40f9f; 
    }
/* serie avaliação*/
.serieavaliation{
  background-color: #EEEEEE;
  margin: 10px;
}
  .serieavaliation__title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 30px 0px 10px; 
    text-align: center;

  }
  .serieavaliation__images{
    text-align: center;
    padding: 10px;
  }
  .serieavaliation__percent{
    color: #27AE60;
    font-size: 38px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  .serieavaliation__twitter{
    margin: 0 50px;
  }
